# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# MLflow
mlruns/

# DVC
.dvc/cache/

# Logs
*.log

# Model Files
*.pkl
*.joblib
*.h5
*.pt
*.pth

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# Database
*.db
*.sqlite3